*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #855501;
}

.container{
    text-align: center;
    margin: 60px auto;
    width: 300px;
    height: 520px;
    border: black 2px solid;
    border-radius: 4px;
    background-image: url(img/background-beer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.imagem{
    display: flex;
    justify-content: center;
    height: 180px;
}

.titulo{
    font-family: 'Pixel';
    font-size: 11px;
    line-height: 30px;
}

#tela{
    width: 240px;
    height: 65px;
    margin: 25px 20px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
    resize: none;
    background-color: transparent;
    color: white;
    text-shadow: 1px 1px black;
}

button{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    overflow: hidden;
    background-color: red;
    border: 2px solid white;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    box-shadow: 5px 5px 5px black;
}

@font-face {
    font-family: Pixel;
    src: url(fonts/PublicPixel.ttf);
}